
.comments-area {
	
	ol, ul {
		list-style-type: none;
	}

	li.comment {
		margin-bottom: 40px;
		padding-left: 20px;
		border-left: 2px solid $color-light-bg;

		#respond {
			margin-top: 20px;
		}

		h3 small {
			font-family: $font-default;
			font-size: 16px;
			display: inline-block;
			margin-left: 10px;
		}
	}

	.children {
		margin-top: 40px;
	}

	.comment-meta {

		.avatar {
			float: left;
			margin: 0 15px 0 0;
		}

		cite {
			display: block;
			font-size: 1.1em;
			font-style: normal;
		}

		.time, .edit-link {
			font-size: 0.9em;
			color: $color-light;
		}

	}

	.pingback {
		color: $color-light;
		font-size: 0.9em;
		margin: 0;
		padding-left: 20px;
		border-left: 2px solid $color-light-bg;
	}

	.comment-content {
		@extend .font-content;
		line-height: 1.35em;
	}

	.comment-reply-link {
		@extend .pure-button;
		background-color: $color-light;
		//border-bottom: 3px solid darken($color-light, 10%) !important;
		display: inline-block;
	}

}
