
.site-content {
	@include column(12);
	overflow: hidden;
	padding-top: 10px;
	padding-bottom: 40px;

	table {
		@extend .pure-table;
		@extend .pure-table-bordered;
	}

	form {
		@extend .pure-form;
		@extend .pure-form-stacked;
	}

	hr {
		display: block;
		margin: 30px auto;
		width: 70%;
		border: 1px solid $color-light-bg;
	}

	blockquote {
		color: $color-light;
		font-style: italic;
	}

	pre {
		padding: 10px;
		//background-color: $color-pre-bg;
		//color: $color-pre;
		font-size: 0.9em;
	}

	code {
		padding: 2px 4px;
		background-color: $color-light-bg;
		border: 1px solid darken($color-light-bg, 10%);
		font-size: 0.9em;
		font-weight: normal;
		font-style: normal;
		border-radius: 5px;
	}

	dt {
		font-weight: bold;
	}
	
	img, video, iframe, embed, .wp-caption {
		max-width: 100% !important;
	}

	img, video, .wp-caption {
		height: auto;
	}
	

	.post, .page, .attachment {
		margin-bottom: 40px;
	}

	.sticky {
		/* No specific style */
	}

	.entry-meta {
		color: $color-light;
		font-size: 1em;
	}

	.entry-header {
		margin: 0 0 10px 0;
	}

	.entry-content {
		@extend .group;
		@extend .font-content;

		p, li {
			line-height: 1.5em;
		}

		p {
			text-align: justify;
		}

		table {
			margin-bottom: 20px;
		}
	}

	.bypostauthor {
		/* No specific style */
	}

	.gallery-caption {
		/* No specific style */
	}

	.featured-image {
		width: 100%;
		height: auto;
		margin: 0 0 30px 0;
	}

	.featured-image-bottom {
		margin: 30px 0 0 0 !important;
	}

	.alignleft {
		clear: left;
		float: left;
		margin: 0 20px 20px 0;
	}

	.alignright {
		clear: right;
		float: right;
		margin: 0 0 20px 20px;
	}

	.aligncenter {
		clear: both;
		display: block;
		margin: 0 auto;
	}

	.bordered {
		border: 1px solid $color-light-bg;
	}

	.wp-caption-text {
		@extend .font-default;
		color: $color-light;
		font-size: 0.95em;
	}

	.page-links {
		@extend .font-default;
		margin: 0 0 20px 0;
	}

	.entry-meta {
		line-height: 1.35em;
	}

	.more-link {
		@extend .pure-button;
		display: inline-block;
		margin: 5px 0;
	}

	.social-sharing {
		margin: 20px 0 0 0;
		display: none;
	}

}


.navigation-post, .navigation-paging, .navigation-image {
	@extend .group;

	.nav-previous {
		float: left;
		margin-bottom: 10px;

		a {
			@extend .pure-button;
		}
	}

	.nav-next {
		float: right;
		margin-bottom: 10px;
		
		a {
			@extend .pure-button;
		}
	}

	a {
		display: block;
	}
}

.navigation-image {
	margin-top: 10px;
}

#infinite-handle span {
	@extend .pure-button;
}

