
@media screen and (min-width: 480px) {
	h1 {
		font-size: $h1-font-size-large;
	}

	h2 {
		font-size: $h2-font-size-large;
	}

	.site-personal {
		.site-avatar {
			margin: 30px 0 5px 5px;
			float: right;

			img {
				width: 125px;
				height: 125px;
			}
		}

		.site-title {
			padding-top: 15px;
			font-size: $header-font-size-large;
		}

		.site-description {
			font-size: 17px;
		}

		.social-links {
			a {
				width: 33px;
				height: 33px;
				font-size: 33px;
			}
		}
	}

	.site-content .entry-content p {
		text-align: left;
	}

	.site-footer {

		.category-links {
			@include column(5);
			float: left;
		}

		.page-links {
			@include column(7);
			float: left;
		}
	}
}

@media screen and (min-width: 630px) {
	.site-footer {
		.col {
			float: left;
		}

		.popular-posts {
			@include column(5);
		}

		.category-links {
			@include column(3);
		}

		.page-links {
			@include column(4);
		}
	}
}


@media screen and (min-width: 960px) {
	.site-personal {
		@include column(4);
		float: right;

		.site-header {
			/*margin-bottom: 40px;*/
		}

		.site-avatar {
			float: none;
			text-align: right;
		}

		.site-title {
			text-align: right;
		}

		.site-description {
			float: right;
			width: 190px;
			text-align: right;
		}

		.bottom {
			clear: right;
		}

		.widget {
			display: block;
			clear: both;
			text-align: right;
			margin-top: 50px;

			.title {
				display: block;
			}
		}

		.social-links {
			margin-bottom: -10px;
		}

	}

	.site-content {
		@include column(8);
		padding-top: 30px;

		.social-sharing {
			display: block;
		}
	}

}
