
.site-personal {
	@include column(12);
	padding-bottom: 40px;

	.site-header {
		margin: 0 0 20px 0;
	}

	.site-avatar {
		margin: 15px 0 5px 5px;
		
		img {
			width: 94px;
			height: 94px;
		}
		
		.round {
			border-radius: 50%;
		}
	}

	.site-title {
		@extend .font-headline;
		font-size: $header-font-size;
		font-weight: 100;
		padding-top: 5px;

		a {
			color: $color-dark;
			text-decoration: none;
		}
	}

	.site-description {
		@extend .font-content;
		font-size: 15px;
		font-style: italic;
		color: $color-light;
		line-height: 1.4em;
	}

	.widget {
		display: none; /* widgets disabled by default in compact view */

		.title {
			@extend .font-headline;
			font-size: $h3-font-size;
			font-weight: 100;
			margin-bottom: 10px;
			display: none;
		}

		ul {
			list-style: none;
			padding: 0;
		}

		li {
			margin: 0 0 5px 0;
		}

		li > ul {
			padding-right: 20px;
		}

		p {
			line-height: 1.4em;
		}

		img, select {
			max-width: 100%;
			height: auto;
		}
	}

	.social-links {
		display: block; /* This is the only widget shown in compact view */

		a {
			@extend .genericon;
			display: inline-block;
			text-align: center;
			overflow: hidden;
			width: 48px;
			height: 48px;
			font-size: 48px;
			margin: 0 0 10px 10px;
			color: $color-light;

			&:hover {
				color: $color-dark;
			}
		}

		li {
			margin: 0;
		}

		li:first-child a {
			margin-left: 0px;
		}

		.instagram {
			@extend .genericon-instagram;
		}

		.facebook {
			@extend .genericon-facebook;
		}

		.twitter {
			@extend .genericon-twitter;
		}

		.linkedin {
			@extend .genericon-linkedin;
		}

		.gplus {
			@extend .genericon-googleplus;
		}

		.rss {
			@extend .genericon-feed;
		}

		.github {
			@extend .genericon-github;
		}

		.mail {
			@extend .genericon-mail;
		}

	}

}
