._email-sm {
	background: url(../../images/sprite.png) -141px 0px no-repeat;
	display: inline-block;
	width: 45px;
	height: 45px;
}

._gplus-sm {
	background: url(../../images/sprite.png) -94px 0px no-repeat;
	display: inline-block;
	width: 45px;
	height: 45px;
}

._linked-in-sm {
	background: url(../../images/sprite.png) -47px 0px no-repeat;
	display: inline-block;
	width: 45px;
	height: 45px;
}

._twitter-sm {
	background: url(../../images/sprite.png) 0px 0px no-repeat;
	display: inline-block;
	width: 45px;
	height: 45px;
}